site_name: Dennis Gräfe
site_description: Software Developer
site_author: Dennis Gräfe
site_url: https://dennisgraefe.github.io/my-website/

theme:
  name: material
  palette:
    scheme: slate
  features:
    - toc.integrate

markdown_extensions:
  - attr_list
  - md_in_html

nav:
  - Home: index.md
